.menu {
  opacity: 25%;             
  text-decoration: none; 
  position: relative;
  color: white ;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 15px #89D2DC,
    0 0 40px #89D2DC,
    0 0 60px #89D2DC,
    0 0 80px #89D2DC;
}

.menu:hover {
  text-decoration: none;
  border-bottom: 0.05em solid gray;
  border-top: 0.05em solid gray;
  transition: right; 
  opacity: 100%;
}

#x{
  opacity: 25%;
  text-decoration: none; 
  position: relative;
  color: #fff;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 15px #89D2DC,
    0 0 40px #89D2DC,
    0 0 60px #89D2DC,
    0 0 80px #89D2DC;
}

#x:hover {
  text-decoration: none;
  transition: right; 
  opacity: 100%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #132C3D;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .menu {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar .menu:hover {
  color: white;
}

.sidebar .closebtn {
  position: absolute;
  top: 0; 
  right: 25px;
  font-size: 36px;
  margin-left: 225px;
  padding: 10px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #002642;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 0.4em;
}

.openbtn:hover {
  background-color: #89D2DC;
}

#content {
  position: fixed;
  transition: 0.5s;
  width: 400px;
}

#main {
  transition: margin-left .5s;
  padding: 2px;
  text: bold;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;